body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    height: 97vh;
}


main{
    border: 1px solid blue;
    border-radius: 3px;
    display: flex;
    flex: 1;

}


main aside{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
}